html {
  background-color: #fcfcfc;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.header .navbar-item,
.header .navbar-link {
  color: #222222;
}

.is-circle {
  border-radius: 50%;
  border: 2px solid #fff;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
}

.avatar {
  max-height: none !important;
  max-width: none;
}

.instructor-component figure.image {
  margin-left: auto;
  margin-right: auto;
}

.instructor-component {
  margin: 1rem;
}

.instructor-component p {
  font-size: small;
}

.uid {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  font-size: 10pt;
}

.logo-img {
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 202px;
}

.signup-link {
  font-size: 10pt;
  text-align: center;
  margin-top: 15pt;
}

.course-info-block .title:not(:last-child),
.subtitle:not(:last-child) {
  margin-bottom: 1.5rem;
}

.mentor-group {
  display: flex;
}

.hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  /* -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; */
}

.bordered > div {
  background: white;
  border-style: solid;
  border-color: #fcfcfc;
}

.aspect-ratio {
  padding-top: 100%;
  position: relative;
}

.tab-delete {
  margin-left: 9px;
  margin-right: -5px;
}

.login-box {
  padding: 25px 25px 10px 25px;
}

div.section-level-bar.level.is-mobile > div.level-left.is-loading::after {
  animation: spinAround 500ms infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  width: 1em;
  left: calc(50% - (1em / 2));
  top: calc(50% - (1em / 2));
}

.card .media {
  padding: 1rem 1rem 0rem 1rem;
  border-top: 1px solid #dbdbdb;
}

.question-card-media .media-content {
  margin-top: 0.7rem;
}

.question-card-media .media-content .name {
  font-size: 0.9rem;
  font-weight: 500;
}

.question-card-media .media-content .location {
  font-size: 0.75rem;
  font-weight: 400;
}

nav > div > ul > li.is-active > a {
  color: #2e1ab5;
}

.dropZone {
  margin-bottom: 20px;
}
